body {
  font-size: 15pt;
  background: black;
  color: white;
  padding: 0px;
  margin: 0px;
  background: url(Colors.png);
}

#tofrom {
  background: #FFFFFF75;
  padding: 10px;
  margin: 0px;
  position: sticky;
  top: 0px;
  text-align: center;
}

.input {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  background: #FFFFFF75;
  width: 48%;
  color: black;
  border-bottom: 1px solid black;
  outline: none;
  border-radius: 5px 5px 0px 0px;
}

.message {
  width: 100%;
}

#send-form {
  background: #FFFFFF75;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0px;
}

#send-form textarea {
  background: #FFFFFF75;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  resize: both;
  scrollbar-color: blue;
  scrollbar-width: 10px;
}

.glass {
  display: inline-block;
  margin: 5px;
  margin-right: 10px;
  background: #FFFFFF21;
  webkit-background-filter: blur(4px);
  color: white;
  opacity: 1;
  padding: 10px;
  margin-left: 30%;
  border-radius: 10px 10px 0px 10px;
  width: auto;
}

.glass-recieved {
  display: inline-block;
  margin: 5px;
  margin-left: 10px;
  background: #FFFFFF21;
  webkit-background-filter: blur(4px);
  color: white;
  opacity: 1;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  margin-right: 20%;
  text-anchor: end;
  width: auto;
}
#send {
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  outline: none;
  margin-left: 5px;
}